.accordion {
  margin: 20px;

  .displayControl {
    display: none;
  }

  .accordion-button {
    &:after {
      display: none;
    }
  }

  .accordion-body {
    button {
      margin-left: 10px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.mg-10 {
  margin: 0 10px;
}

.pd-20 {
  padding: 20px;
}

.complete-message {
  width: 8%;
  height: 40%;
}

.select-send {
  .css-b62m3t-container {
    width: 30%;
  }

}
