#root {
    width: 100%;
}

html {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
}

body {
    direction: rtl;
    font-family: shabnam, serif;
    display: flex;
    height: 100%;
}
