.content-app {
  display: flex;
  flex-direction: column;
  width: 100%;

  .cont {
    background: rgba(227, 228, 229, 0.48);
    overflow: auto;

    .dynamic-page {
      margin: 30px 10px 10px;
      border-radius: 5px;
      padding: 25px 25px 20px;
      background: #fff;
    }
  }
}