section {
  background: #f4f6f9;
  width: 100%;
  overflow-y: scroll;

  form {
    margin: 20px;

    .form-check {
      display: flex;
      align-items: center;
      margin: 10px;
      float: right;

      input {
        margin: 0 5px;
      }
    }

    .to-org {
      margin-bottom: 150px;
    }

    .task-section {
      display: flex;

      .make-task {
        width: 40%;
        display: flex;
        flex-direction: column;

        .task-input {
          display: flex;

          input {
            margin-left: 5px;
          }
        }
      }

      .tasks {
        background: #fff;
        width: 600px;
        margin-right: 100px;
        border-radius: 10px;
        padding: 15px 5px 15px 20px;
        border: 1px solid #2172af;

        ul {
          margin-right: 10px;
          width: 100%;
          list-style: none;

          li {
            padding: 5px;

            &:nth-child(even) {
              background: rgba(171, 176, 180, 0.32);
            }
          }
        }
      }
    }
    .btn-send {
      float: left;
      padding: 0 0 50px 50px;
    }
  }
}