.login {
  display: flex;
  align-items: center;
  width: 20rem;
  flex-direction: column;
  margin: 125px auto;
  padding: 20px;
  border: 1px solid #dedcdc;

  form {
    width: 280px;
  }
}

.account {
  padding-top: 15px;
  font-size: 14px;
  margin-bottom: 0;
}