.header-app {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(195, 199, 199, 0.72);

  .title-app {
    display: flex;

    .header-right {
      height: 69px;
      padding-right: 20px;
      padding-top: 10px;
      background: #fff;
      display: flex;
      align-items: center;

      p {
        i {
          font-size: 24px;
          padding-left: 15px;
        }
      }
    }

    .header-left {
      display: flex;
      margin-right: 650px;
      justify-content: center;
      align-items: center;

      img {
        margin-left: 10px;
        width: 35px;
        height: 35px;
      }

      h5 {
        margin-left: 50px;
      }

      p {
        margin-top: 10px;
      }
    }

    .logout-btn {
      margin-top: 18px;
      margin-right: 20px;
    }
  }
}

.style-button-dropdown button {
  background: #fff;
  color: #000;
  border: 0;

  &:hover {
    background: rgba(250, 247, 247, 0.73);
    color: #2172af;
  }

  &:after {
    content: none;
  }
}

